node_modules/

.DS_Store

.env
.env.*
!.env.example

coverage/
dist/
reports/
logs/
traces/
test-results/
playwright-report/

templates/playwright-template/reports/
templates/playwright-template/logs/
templates/playwright-template/traces/
templates/playwright-template/test-results/
templates/playwright-template/playwright-report/
