node_modules/
*.tgz

.DS_Store

.env
.env.*
!.env.example

coverage/
dist/
reports/
logs/
traces/
test-results/
playwright-report/
allure-results/
allure-report/

templates/playwright-template/reports/
templates/playwright-template/logs/
templates/playwright-template/traces/
templates/playwright-template/test-results/
templates/playwright-template/playwright-report/
templates/playwright-template/allure-results/
templates/playwright-template/allure-report/
tools/create-testkit/templates/
