allure-results
coverage
node_modules
package-lock.json
playwright-report
reports
templates/**/allure-results
templates/**/reports
templates/**/test-results
test-results
tools/create-testkit/templates/**/allure-results
tools/create-testkit/templates/**/reports
tools/create-testkit/templates/**/test-results
tools/create-testkit/templates
